@theme {
  --color-background: #f6f4f0;
  --color-foreground: #110f0f;

  --color-primary: #203d3d;
  --color-primary-foreground: #f4f5f5;

  --color-secondary: #f4f5f5;
  --color-secondary-foreground: #203d3d;
}
